<div id="container" class="container">
    <div style="color:red" id="error"></div>
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <form name='logout-form' id='logout-form' method='post' action='/user/logout'>
              <button class="btn btn-primary" id="logout-btn" align="center" type="submit">Log out</button>
            </form>
          </li>
        </ul>
        <h3 class="muted">Welcome to WebApp</h3>
      </div>
      <hr>
      <div class="jumbotron">
        <h1>Congrats you have successfully logged in</h1>
        <p class="lead">Now follow your friends and their daily status</p>
      </div>
      <hr>
<div class="row-fluid marketinfunctiong">
        <div class="span7">
          <h4>Your thoughts for Today</h4>
        </div>
      </div>
<div class="pull-right">
<div class="row">
   <div class='span9'>
     <!-- Form -->
     <div class="form-inline">
      <form name='update-status-form' id='upload-status-form' method='post' action='/user/updateStatus'>
      <input class="input-xxlarge" type="text" placeholder="Please put your status here." id="textId" name='uploadData'>
      <button class="btn btn-primary" id="upload-status-btn" align="center" type="submit">Upload</button>
      </form>
</div>
<hr>
<!-- Msg -->
<% if(session.message != 'empty') {%>
<% for(var i=0; i < session.message.length; i++) { %>
    <% var message = session.message[i] %>
    <div class="media">
    <a href="#" class="pull-left">
    <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="/img/photo.png">
    </a>
   <div class="media-body">
   <h4 class="media-heading"><%=message.firstname%></h4>
   <%=message.message%>
   </div>
</div>
    <% } %>
      <% } %>
        </div>
   <div class='span3' id='status_div'>
    <ul class="nav nav-list bs-docs-sidenav affix">

 <% if(session.result) {%>
 <% for(var i=0; i < session.result.length; i++) { %>
  <% var person = session.result[i] %>
  <li class=""><a href="#typography" class='span2'><i class='icon-user' ></i> <%= person.firstname %> </a>
  <form name='follow-form' id='follow-form' method='post' action='/user/follow'>
  <input class='input-small' type='hidden' name='followUserId' value='<%= person.id %>' >
  <button class="btn btn-small btn-primary follow-btn" id="<%=person.id%>" align="center" type="submit">Follow me</button>
   </form>
   </li>
    <% } %>
    <% } %>
    </ul>
    </div>
  </div>
</hr>
<div class="footer">
  <p>&copy; Company 2012</p>
</div>
</div> <!-- /container -->

<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    